<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>json,cobertura,lcov,teamcity,opencover</Format>
          <Exclude>[*.Tests]*,[*.Benchmark]*</Exclude> <!-- [Assembly-Filter] Type-Filter --> 
          <!--<Include>[coverlet.*]*,[*]Coverlet.Core*</Include>--> <!-- [Assembly-Filter]Type-Filter -->
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>

           <!-- FILE EXCLUSIONS -->
          <ExcludeByFile>**/examples/**/*</ExcludeByFile> <!-- Recursive glob pattern -->

          <!-- TEST ASSEMBLY SETTINGS -->
          <IncludeTestAssembly>false</IncludeTestAssembly> <!-- Exclude test projects -->

           <!-- OPTIMIZATION FLAGS -->
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>